<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refreshIntervalSeconds</key>
	<real>60</real>
	<key>showWindowWhenNewMessage</key>
	<false/>
	<key>useGrowl</key>
	<false/>
    <key>summarizeGrowl</key>
    <false/>
    <key>growlSummarizeThreshold</key>
    <real>3</real>
    <key>timelineSortOrder</key>
	<real>0</real>
    <key>usePost</key>
    <false/>
    <key>decodeHeart</key>
    <true/>
    <key>colorScheme</key>
    <real>0</real>
    <key>editWindowAlphaManually</key>
    <false/>
    <key>windowAlpha</key>
    <real>0.8</real>
    <key>sendMessageWithEnterAndModifier</key>
    <false/>
</dict>
</plist>
