<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refreshInterval</key>
	<real>1</real>
	<key>showWindowWhenNewMessage</key>
	<false/>
	<key>useGrowl</key>
	<false/>
    <key>timelineSortOrder</key>
	<real>0</real>
    <key>usePost</key>
    <false/>
    <key>colorScheme</key>
    <real>1</real>
</dict>
</plist>
